doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="//cdn.bootcss.com/bulma/0.5.3/css/bulma.min.css", rel="stylesheet")
    link(href="/css/index.css", rel="stylesheet")
    
    title!= config.title
  body
    nav.navbar.container
      a.navbar-item(href="/") 首页
      //- .navbar-brand
      //-   a(href="/") StickerOverflow
      a.navbar-item(href="/stickers") 所有贴纸
      a.navbar-item 商店
      a.navbar-item 博客
      a.navbar-item 关于
    !=body
