doctype html
html
  head
    != partial('_partial/ga')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="//cdn.bootcss.com/bulma/0.5.3/css/bulma.min.css", rel="stylesheet")
    link(href="/css/index.css", rel="stylesheet")
    if theme.favicon
      link(rel="shortcut icon" href=theme.favicon)
    title!= page.title ? page.title + ' - ' + config.title : config.title
  body
    nav.navbar.container(style='margin-bottom: 5em;')
      a.navbar-item(href="/") 首页
      //- .navbar-brand
      //-   a(href="/") StickerOverflow
      //- a.navbar-item(href="/stickers") 所有贴纸
      a.navbar-item(href=theme.store_url) 商店
      a.navbar-item(href='/licenses') 许可列表
    !=body
    footer.center.is-size-7
      p Copyright StickerOverflow 2017
